client
dev tun
proto tcp
remote vpn.gridgroup.ee 1194
resolv-retry infinite
keepalive 5 20
nobind
;user nobody
;group nobody
persist-key
persist-tun
auth SHA1
cipher AES-256-CBC
verb 3

{% for route in routes %}
route {{ route }}
{% endfor %}

dhcp-option DNS 10.103.131.130
dhcp-option DNS 10.103.131.131

auth-user-pass {{ profile }}-auth.cfg

;mute 20
<ca>
-----BEGIN CERTIFICATE-----

-----END CERTIFICATE-----
</ca>
<cert>
-----BEGIN CERTIFICATE-----

-----END CERTIFICATE-----
</cert>
<key>
-----BEGIN RSA PRIVATE KEY-----

-----END RSA PRIVATE KEY-----
</key>
