client
dev tun
proto tcp
remote vpn.gridgroup.ee 1194
resolv-retry infinite
keepalive 5 20
nobind
;user nobody
;group nobody
persist-key
persist-tun
auth SHA1
cipher AES-256-CBC
verb 3

{% for route in routes %}
route {{ route }}
{% endfor %}

dhcp-option DNS 10.103.131.130
dhcp-option DNS 10.103.131.131

auth-user-pass {{ profile }}-auth.cfg

;mute 20
<ca>
-----BEGIN CERTIFICATE-----
MIIDvjCCAqagAwIBAgIICqiyl2D2IIswDQYJKoZIhvcNAQELBQAwYDELMAkGA1UE
BhMCRUUxETAPBgNVBAgMCEhhcmp1bWFhMRAwDgYDVQQHDAdUYWxsaW5uMQ0wCwYD
VQQKDARHcmlkMQswCQYDVQQLDAJJVDEQMA4GA1UEAwwHR1JJRC1DQTAeFw0xOTAz
MTEyMDQ5MDJaFw0yOTAzMDgyMDQ5MDJaMGAxCzAJBgNVBAYTAkVFMREwDwYDVQQI
DAhIYXJqdW1hYTEQMA4GA1UEBwwHVGFsbGlubjENMAsGA1UECgwER3JpZDELMAkG
A1UECwwCSVQxEDAOBgNVBAMMB0dSSUQtQ0EwggEiMA0GCSqGSIb3DQEBAQUAA4IB
DwAwggEKAoIBAQCv49YIpIDyjhuQHCs1TNkfELN3rxBDwzoXyAyTQK4eiFhyjl1y
vAXQ3pwIPa/GdqJrol8I0c1RuzbX1mE+dmmJkzXAMn64rls0hCeofU6EfTBXrW6p
CziO8JAFmk9K8PuNe0xj43gMdSNMkwQo52z35xfQWlZxOWhZqR/JsWa5EKhRb4Wm
Kmo5EjtdRx7/vMtPPgT8gN+NeY79Qsg12LPPPnhjiLUgoIP/f10trakAbhiuh3fw
PWpzQTBPihufhkszqU5cTw7rOfCmoB6iYREf/gtrhfuGizvjGG6O2bNM2H+u/tp4
OhZRQGSLiCpQlpQjGHgcGsUVn8fhB5MwBfZ3AgMBAAGjfDB6MA8GA1UdEwEB/wQF
MAMBAf8wDgYDVR0PAQH/BAQDAgG2MB0GA1UdDgQWBBTTk7cHI2uWG7dvXhOWYdqN
2tt98zASBgNVHREECzAJggdHUklELUNBMCQGCWCGSAGG+EIBDQQXFhVHZW5lcmF0
ZWQgYnkgUm91dGVyT1MwDQYJKoZIhvcNAQELBQADggEBAIoadZ06dKbnj/TRo4ZT
XVUR5UVGv+4F1OumpCYLP0e1aK8/5RFhwKnKCaArLLrfqUDG8XxLs3DSmUfiLrFY
APq/KRzTE0cQvMPDW8b11Ztz5cDGb+o66gNRjPIA0JwZQBD4B8vbHBaUTjPn3wDT
C4TUTPyZ7VS1C32iRUjSgHSmo9ZX4tONu6/f4SHazPO9E0IXIpZHJj+c0dY41Gnt
I8ct9SkbOGX4dH2LDAW3Cg92XvC3aNIFtv5C4hGVvzY3T06SwQDfx+cR9EuxjEMP
NmRG3n61onvRqvqBJPTvxxMggZZPqePMmpnqQrDwpeffQ5WB5K3Sp8qZexAdK9Qw
Skk=
-----END CERTIFICATE-----
</ca>
<cert>
-----BEGIN CERTIFICATE-----
MIID6zCCAtOgAwIBAgIIG8R+t9LjLsEwDQYJKoZIhvcNAQELBQAwYDELMAkGA1UE
BhMCRUUxETAPBgNVBAgMCEhhcmp1bWFhMRAwDgYDVQQHDAdUYWxsaW5uMQ0wCwYD
VQQKDARHcmlkMQswCQYDVQQLDAJJVDEQMA4GA1UEAwwHR1JJRC1DQTAeFw0xOTAz
MTIwOTA1MDVaFw0yOTAzMDkwOTA1MDVaMGsxCzAJBgNVBAYTAkVFMREwDwYDVQQI
DAhIYXJqdW1hYTEQMA4GA1UEBwwHVGFsbGlubjENMAsGA1UECgwER3JpZDELMAkG
A1UECwwCSVQxGzAZBgNVBAMMEmdyaWQtYXZhbGFuY2hlLXZwbjCCASIwDQYJKoZI
hvcNAQEBBQADggEPADCCAQoCggEBALsQoEpQUi8FYx0dtNycqZDdTxPQ4fnk7aRE
jLyMOG/3ZhJvk+MzIFOh/Rk+mZaVJE5Qd7nnCHJIaL3jTT4RICXc3C7tueWa0Xec
sLrfgTrm7EkNVHuiTyWZTvQ0F5kmvgS7Ii0FvhCSYy4wFTwgUZBJVX3WfnAfjz4r
Qy8GbA1ITbp42nqRbsZznrvApXmlkbY+Yyt0IBlrjlvkp7qxgPc6ykQljY6YDOwt
kPSSK4kRWtiE4GYT9SyRYEI1e6pQnqIhUI4YunNa0Wmcj2l3dFZbqWon4b6IhSCM
Wzf7TpE25a2eenA81ZpEffYfqn6hJUrbQDXkb5+/c0CW9S4fDKMCAwEAAaOBnTCB
mjATBgNVHSUEDDAKBggrBgEFBQcDAjAdBgNVHQ4EFgQUEwwy7yQeK4R7ovDIkg6X
f2WtsNwwHwYDVR0jBBgwFoAU05O3ByNrlhu3b14TlmHajdrbffMwHQYDVR0RBBYw
FIISZ3JpZC1hdmFsYW5jaGUtdnBuMCQGCWCGSAGG+EIBDQQXFhVHZW5lcmF0ZWQg
YnkgUm91dGVyT1MwDQYJKoZIhvcNAQELBQADggEBAGWeLqjohORV70XpNWfacddO
Ha8UnSb5Wjci1OUMraXAvtzxKCvEP8F6NyZF1GsDSYEuxkLTveY1N5o/n9QV5Jsu
pgGtKy4OvkGNb5m3PhzbpH3CAkkvQtA0ab2PTH7JZHo/Jni2EPxuoNTVXjVLuwiz
1xfzhpEv7FP5N55ZSRPaIqQeibPkvYLTMO2UZYM3Av8XmAU9q2Afa126ajsg+qXY
yUwD1W9WPXah425vojWveDO36FGFVRsWCrnGKhLYuMvyzBnAF4AkYXn8c1q3Y2XL
ow8jNexzD0MuC1hMBPi5ajgQH/2IMSYOYrmZozNBpC1/mE7+sgQdlvRrgC9CaG0=
-----END CERTIFICATE-----
</cert>
<key>
-----BEGIN RSA PRIVATE KEY-----
MIIEowIBAAKCAQEAuxCgSlBSLwVjHR203JypkN1PE9Dh+eTtpESMvIw4b/dmEm+T
4zMgU6H9GT6ZlpUkTlB3uecIckhoveNNPhEgJdzcLu255ZrRd5ywut+BOubsSQ1U
e6JPJZlO9DQXmSa+BLsiLQW+EJJjLjAVPCBRkElVfdZ+cB+PPitDLwZsDUhNunja
epFuxnOeu8CleaWRtj5jK3QgGWuOW+SnurGA9zrKRCWNjpgM7C2Q9JIriRFa2ITg
ZhP1LJFgQjV7qlCeoiFQjhi6c1rRaZyPaXd0VlupaifhvoiFIIxbN/tOkTblrZ56
cDzVmkR99h+qfqElSttANeRvn79zQJb1Lh8MowIDAQABAoIBAFvK8czlkx5tt1AP
RrPG0FI8ttQTeP/l/VLRLHpNGFig/t5nEBu598/yOj9L/5PrxXAEfmuj2foyW+tq
AXpGbw8FTKpejw0DJmxaYEKi8EgWDrZeKymr4MijbSHZ+gZ2A2JQ7ZlIKxb4rmB4
ycLCXSO/SItCWLLuWZz5H7OQpC7zh0DR32eTvQeVKY2uqyhgvlC3DeHuQmC+M5Ca
KQnj4PYTUAfryurnUmRvP28xNsXiNOVK5ohJKsPNApLkIF9EngGdK+7x9Tkt8ysk
WqPY2jkSeuP2sB4lndOv4Xup4R4Hgvx44fkH4uUsug16HuwAjXQ4NM+WWoCDIXgJ
Ul3PxQkCgYEA76q6VKt7qTijOtML/h7fYXzLjs7M0okKpT4zKUcdSi0V8dFoS9Ol
oDOPU0urdtWt5W5WB5rvsO8VBpf3xF4Dlti5Qez2gDoX4f/YIAZCgq+MG7VWFFxW
NZfSEHIsdZSUaHJMP9eg85t3++S8N2ugFnX+TquO+0f9QauCUCmUzzUCgYEAx9Ax
6mCsKeB9XJpA8y1uqGI6G0ok9Mf2NNJHO5loXHFh/STdF4S379sEoRD6l2Gy1YJi
ZmyfKNcwFhDQVl5W4BQEsMRR2nt3lTRjbEHpjM0ifFtjJLoXBcEXCbMdLh3ZQcZ4
ifp3wkW+0HX1maI3fOLwmP1wyC7spZrCE11IL3cCgYEAvfcLHhWWPPkhmHyz4sbB
tFngVt9fxfjNsVBt6OfvNV4rKLMdAg1OGH8FubYewGB6J4KfOgP6vLmkZseJoeIK
4kQCA1k5wUVKrN3HhwqvKTrPyR6gjh7qTix6WoLE7qXIRElkWq4lazHtloElFqB+
EY+Q9PZSrKXQ/X5eGf/7bYkCgYA0WI2LGlJgEiilZt/XFTLlN/6DAbSWz//nLKNu
sKzPcwC5wbuOGr3ZP2aCD6GmoPipyKOgs5oqp904GqWJyuM1hukHqhbLhwb39qaJ
SOc3dNIxA/wANiQr5L71UpA1capl+enAM/bF1WG82PpDimTA+e8QFW1DdE+YvudT
DWAI1wKBgEPaNQ47QxMVFnd2YqP2x6+Pq7uC/4f/5HFEy5nBw86aC87jurM+jy94
nTvUzjuO/eyZY4zyn/SvV0+K4WMoY8Nmr+3PDQMgMiVQpmoVklFT5ICw0GujFf9L
1VZ5Df1NO7Jwde85+IZ/Bsql5ojSdXlTJ2oRG9zplvTAXaa2vUW1
-----END RSA PRIVATE KEY-----
</key>
